
body {
    background-color:  #92B4EC;
}
.card {
    box-shadow:  0px 0px 5px ;
    padding: 40px;
    border-radius: 5%;
    height: 410px;
    margin: 6rem auto 8.1rem auto;
    width: 329px;
}
.remember {
    margin-top: 15px;
}
button {
    width: 100px;
    margin-top: 10px; 
}

p{
    margin-top: 25px;
    text-align: center;
}